table tr {
  height: 50px;
}
table tr th {
  text-align: center;
}
table tr td {
  width: 125px;
  text-align: center
}
table tr td .image {
  width: 150px;
}
table tr td img {
  max-width: 150px;
}
table tr:nth-child(2n + 1){
  background-color: rgb(238, 238, 238);
}
table tr:first-child {
  background-color: rgb(51, 51, 51);
  color: white;
}
table tr th:last-child {
  background-color: white;
  color: black;
}
.info {
  background-color: white;
}
.price {
  background-color: white;
  font-size: 24px;
  border: 2px solid rgb(0, 117, 255);
}
.invisible {
  visibility: hidden;
}
